{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<doctype html>
    <h2>Peer to Peer Library</h2>
    <h3>Hi, {{ current_user.username.upper() }}!</h3>

    <a class="btn btn-success" href="{{ url_for('.new_book') }}" role="button">{{ ('Add New Book') }}</a>
     <p></p>
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
      <dl>
        {{ render_field(form.select) }}

        {{ render_field(form.search) }}
      </dl>
      <p><input type=submit value=Search>
    </form>
    <br>
{% endblock %}    