<doctype html>

        <h3>These are the books you have added to the DataBase</h3>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('.new_book') }}"> New Book </a>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}        
    <title>Search Results - Peer to Peer Library Database</title>
    {{ table }}